
body {
  font-family: Arial, sans-serif;
  max-width: 700px;
  margin: auto;
  padding: 20px;
  background: white;
  position: relative;
  z-index: 1; /* ensures content stays in between side stripes*/
}

/*stripes*/
body::before,
body::after {
  content: "";
  position: fixed;
  top: 0;
  height: 100vh;
  width: 80px;
  z-index: -1; /* puts stripes behind content */
  background: linear-gradient(
    to bottom,
    #18453B, 
    #2C6E4F,
    #5FA879,
    #A8CDB4,
    #C2D9CD  
  );
}

body::before {
  left: 0;
}

body::after {
  right: 0;
}



.title-3d {
  font-size: 48px;
  font-weight: 900;
  color: #18453B;
  text-shadow: 3px 3px 0 #00000055;
  text-align: center;
}



#expenseList {
  list-style: none;
  padding: 0;


}

.expense-item {
  background: #5FA879;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 12px;
  display: flex; 
  justify-content: space-between;
  align-items: center;
}

.delete-btn {
  background: crimson;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 6px;
}
